h1{
  text-align: center;
  width: 100%;
}

.Content{
  display: flex;
  align-items: center;
  background-color: red;
  height: 150px;
}

footer{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
}

.Container{
  display: flex;
justify-content: center;

}
